:root {
  --primary-color: #1a4968;
  --gray: #c7c7c7;
}
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  overflow-x: hidden;
}
header {
  height: 100vh;
  background-image: url("../img/14.jpg");
  background-size: cover;
  background-position: center;
  padding: 0px 100px;
}
header nav {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 100%;
  padding: 50px 0px;
}
header nav a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-flow: row;
  align-items: center;
}
header nav .logo {
  width: 25%;
  font-size: 36px;
  font-weight: bold;
  min-width: 360px;
}
header nav .menu {
  width: 65%;
}
header nav .menu ul {
  display: flex;
  flex-flow: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header nav .menu ul a {
  margin: 0 10px;
  padding: 5px 10px;
  font-size: 27px;
}
header nav .leng {
  width: 15%;
  font-size: 27px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .center-head {
  display: flex;
  flex-flow: row;
  height: 60%;
  margin-top: 30px;
}
header .center-head .header-text {
  width: 70%;
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-top: 50px;
}
header .center-head .ad-header {
  width: 30%;
}
header .center-head .ad-header .ad-card {
  display: flex;
  flex-flow: row;
  height: 100%;
}
header .center-head .ad-header .ad-card .card-title {
  background-color: var(--primary-color);
  color: white;
  padding-left: 50px;
  width: 300px;
  min-width: 300px;
  position: relative;
}
header .center-head .ad-header .ad-card .card-title h2:nth-child(1) {
  position: absolute;
  top: 20px;
}
header .center-head .ad-header .ad-card .card-title h2:nth-child(3) {
  position: absolute;
  bottom: 45px;
}
header .center-head .ad-header .ad-card .card-title h2:nth-child(4) {
  position: absolute;
  bottom: 20px;
  color: var(--gray);
}
header .center-head .ad-header .ad-card .card-title svg {
  position: absolute;
  bottom: 100px;
  width: 60px;
}
header .center-head .ad-header .ad-card .card-img {
  width: 700px;
  min-width: 700px;
}
header .center-head .ad-header .ad-card .card-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
header .arrow-head {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  color: white;
}
header .arrow-head .arrow-text {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
}
header .arrow-head .arrow-text h3,
header .arrow-head .arrow-text h2 {
  margin: 0;
  font-size: 19px;
  font-weight: 300;
}
header .arrow-head .arrow-text h2 {
  font-size: 35px;
}
header .arrow-head svg {
  width: 85px;
  height: 85px;
  margin-left: 20px;
  stroke-width: 1px;
}
.cities-container {
  padding: 0px 100px;
  margin: 60px 0px;
  display: flex;
  flex-flow: column;
}
.cities-container .cities-title {
  background-color: var(--primary-color);
  width: 25%;
  display: flex;
  flex-flow: row;
  position: relative;
  height: 60px;
  align-items: center;
}
.cities-container .cities-title h2 {
  position: absolute;
  margin: 0;
  color: white;
  font-size: 22px;
  font-weight: 400;
  left: 20px;
}
.cities-container .cities-title svg {
  position: absolute;
  margin: 0;
  width: 30px;
  right: 20px;
  color: white;
}
.cities-container .city-card {
  width: 100%;
  display: flex;
  flex-flow: row;
}
.cities-container .city-card .city-content {
  width: 25%;
  height: 450px;
  background-size: cover;
  background-position: center;
}
.cities-container .city-card .city-content:nth-child(1) {
  background-image: url(../img/italy.jpg);
  background-position: center;
}
.cities-container .city-card .city-content:nth-child(2) {
  background-image: url(../img/greece.jpg);
}
.cities-container .city-card .city-content:nth-child(3) {
  background-image: url(../img/croatia.jpg);
}
.cities-container .city-card .city-content:nth-child(4) {
  background-image: url(../img/new-york.jpg);
}
.cities-container .city-card h2 {
  color: white;
  font-size: 25px;
  margin: 0;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 30px;
  text-shadow: 0 0 6px #0000004a;
}
.cities-container .city-card h3 {
  color: white;
  font-size: 15px;
  margin: 0;
  font-weight: 400;
  padding-left: 30px;
  text-shadow: 0 0 6px #0000004a;
}
.city-container {
  margin: 160px 0px;
  position: relative;
}
.city-container .city-info {
  padding: 0px 100px;
  display: flex;
  flex-flow: row;
  z-index: 1;
}
.city-container .city-info .city-img {
  width: 40%;
}
.city-container .city-info .city-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.city-container .city-info .city-text {
  width: 40%;
  padding: 0px 100px;
  background-color: white;
}
.city-container .city-info .city-text h3 {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
}
.city-container .city-info .city-text h2 {
  margin: 25px 0px;
  font-weight: 600;
  font-size: 40px;
}
.city-container .city-info .city-text .city-options {
  display: flex;
  flex-flow: row;
}
.city-container .city-info .city-text .city-options svg {
  width: 30px;
  margin-right: 18px;
}
.city-container .city-info .city-text .city-options a {
  text-decoration: none;
  color: black;
}
.city-container .city-info .city-text .city-options h2 {
  font-size: 18px;
  font-weight: 600;
  margin-right: 40px;
}
.city-container .city-info .city-text p {
  margin-bottom: 50px;
  font-size: 19px;
}
.city-container .city-info .city-text .btn-city {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 17px 70px;
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-align: center;
  width: 210px;
  margin-bottom: 30px;
}
.city-container .city-bg {
  background-image: url(../img/8.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: 0;
  z-index: -10;
  opacity: 0.38;
}
.services-container {
  display: flex;
  flex-flow: column;
  padding: 0px 100px;
  margin-bottom: 100px;
}
.services-container .services-title {
  margin-bottom: 120px;
  width: 100%;
}
.services-container .services-title h2 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  display: block;
  margin: 0 auto;
  width: 400px;
  position: relative;
}
.services-container .services-title h2:after {
  content: "";
  width: 120px;
  height: 5px;
  background-color: black;
  position: absolute;
  bottom: -9px;
  right: 50px;
}
.services-container .services-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.services-container .services-list .services-details {
  width: 33%;
  position: relative;
  justify-content: center;
}
.services-container .services-list .services-details .icon {
  font-size: 60px;
  position: absolute;
  top: 0;
  left: 0;
}
.services-container .services-list .services-details h2 {
  padding-left: 100px;
  padding-right: 30px;
  margin-top: 0px;
}
.services-container .services-list .services-details p {
  padding-left: 100px;
  margin-bottom: 100px;
  padding-right: 40px;
  font-size: 15px;
  font-weight: 400;
}
.footer {
  background-color: var(--primary-color);
  padding: 0 100px;
}
.footer .footer-container {
  width: 100%;
  display: flex;
  flex-flow: row;
  color: white;
}
.footer .footer-container .footer-col-1 {
  width: 30%;
}
.footer .footer-container .footer-col-1 .footer-info {
  display: flex;
  flex-flow: row;
}
.footer .footer-container .footer-col-1 .footer-info .i {
  width: 25px;
}
.footer .footer-container .footer-col-2 {
  width: 20%;
}
.footer .footer-container .footer-col-3 {
  width: 20%;
}
.footer .footer-container .footer-col-4 {
  width: 25%;
}
